@import url('https://fonts.googleapis.com/css?family=Cinzel');
@font-face {
    font-family: roles;
    src: url('../font/roles.woff');
}

body {
    background-color: #000;
    color: #ccc;
    background-image: url('../img/asfalt-dark.png');
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

#header {
    font-size: 48px;
    text-transform: uppercase;
    font-family: Cinzel, serif;
    color: #ccc;
    background-image: linear-gradient(#ccc 28%, rgb(77, 77, 77) 40%, #ccc 54%);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#content {
    display: flex;
    flex-direction: row;
}

.hero-section {
    flex: 1;
    padding: 5px;
}

.hero-section__header {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #999;
}

.hero-section__header img {
    margin-right: 10px;
}

.hero-section__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero {
    position: relative;
    display: inline-block;
    width: 25%;
    transition: opacity 0.4s ease-in-out;
}

.hero img {
    border: 1px solid black;
    max-width: 100%;
}

.lighten {
    opacity: 1;
}

.darken {
    opacity: 0.15;
}

.hero:hover {
    opacity: 1;
    transition: opacity 0.4s;
    cursor: pointer;
}

.favorite img {
    border: 1px solid goldenrod;
}

.favorite-star {
    position: absolute;
    font-size: 12px;
    bottom: 4px;
    right: 4px;
    opacity: 0;
    color: goldenrod;
}

.favorite .favorite-star.fas {
    opacity: 1;
}

.hero:hover .favorite-star.far {
    opacity: 1;
}

p {
    color: #999;
    margin: 10px 0 0;
}

#controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.selector-row {
    display: flex;
    margin-bottom: 10px;
}

.selector {
    padding: 7px;
    background-color: #666;
    border-top: solid #777 1px;
    border-left: solid #777 1px;
    border-bottom: solid #555 1px;
    border-right: solid #555 1px;
    color: #bbb;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, background-image 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, .4);
    background-image: url('../img/asfalt-dark.png');
    user-select: none;
}

.selector-big {
    font-size: 16px;
    padding: 10px;
    min-width: 152px;
}

.selector:hover {
    color: rgb(209, 188, 0);
    background-color: #555;
    border-top: solid #666 1px;
    border-left: solid #666 1px;
    border-bottom: solid #444 1px;
    border-right: solid #444 1px;
}

.selector.selected {
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 35px, rgb(255, 215, 0) 0 0 25px, -1px -1px 0px rgba(0, 0, 0, .4);
    color: rgb(255, 215, 0);
    background-image: url('../img/asfalt-dark-gold.png');
    background-color: #555;
    border-top: solid #666 1px;
    border-left: solid #666 1px;
    border-bottom: solid #444 1px;
    border-right: solid #444 1px;
}

.selector-group_role {
    display: flex;
    align-items: center;
}

.selector-group_range,
.selector-group_damage {
    margin-right: 10px;
}

.selector-favorites {
    margin-right: 15px;
    padding: 12px;
    font-size: 18px;
}

.fa-role {
    font-family: roles !important;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
}

.fa-role-carry:before {
    content: "\e906";
}
.fa-role-mid:before {
    content: "\e901";
}
.fa-role-offlane:before {
    content: "\e902";
}
.fa-role-support:before {
    content: "\e905";
}
.selector-favorites i {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: -2px;
}